ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #439A97;  /*menü arka plan*/  
}

li {
    float: left; /* Menü yan yana */
} 
li a{
    display: block;
    padding: 12px 14px;
    color: white;
    text-decoration: none;    
}
li a:hover{
    background-color: #62B6B7; /*Üzerine gelindiğinde renk değişir*/
}
.aktif{
    background-color: #62B6B7; /*Kullanıcının hangi menüde olduğunu gösterir.*/
}
body{
    background-color: #E9ECEF;
}
h2{
    color: #439A97;
}

